.logo {
  height: 70px;
}

.navbar {
  background-color: var(--primaryColor);
  box-shadow: 0px 1px 10px #999;
  z-index: 1;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.nav-link {
  color: white !important;
  border-radius: 50px;
}

.nav-link:hover {
  background-color: white;
  color: var(--primaryColor)!important;
  transition: .3s;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-collapse.show {
  display: block !important;
}