.pagination .page-item {
    padding: 5px;
}

.pagination .page-link {
    background-color: white;
    border: none;
    border-radius: 100%;
    padding: 7px 14px;
    color: #333;
}

.pagination .page-item.active .page-link {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    color: white;
}